.header {
  transition: background 0.3s;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  position: absolute;
  padding: 10px 0;

  .main-menu {
    .navbar-collapse {
      .nav-link {
        text-decoration: none;
      }
      .dropdown-menu {
        .dropdown-item {
          &.active {
            background: #54595f;
            color: $font-white;
          }
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: #fff;
    outline: none;
    margin-inline-start: 15px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .event-date {
    font-size: 12px;
  }
  .mobile-btn-control {
    .btn {
      display: inline-flex;
      align-items: center;
      padding: 0px 8px 0px 8px;
      font-size: 12px !important;
    }
  }

  // mobile sidebar

  @media only screen and (max-width: 992px) {
    .main-menu {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      z-index: 10;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      display: block;

      .mobile-menu-logo {
        max-width: 30%;
        object-fit: contain;
        margin: 0 auto;
        display: block;
        height: auto;
        margin-bottom: 25px;
      }
      .close-mobile-icon {
        all: unset;
        color: #fff;
        font-size: 30px;
        margin-#{$left}: auto;
        display: block;
        cursor: pointer;
      }
      .navbar-collapse {
        display: block;
        width: 90%;
        background: #272329;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        z-index: 21;
        #{$left}: -100%;
        transition: 0.6s ease;
        padding: 20px 20px 20px 20px;
        .mobile-main-menu-text {
          color: var(--main-color);
          font-family: $font-b;
          font-size: 21px;
          font-weight: 600;
          padding: 10px;
        }
        .nav-link {
          color: #fff;
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          &.active,
          &.show {
            background-color: #54595f;
            color: $font-white;
          }
        }
        .dropdown-menu {
          border: none;
          .dropdown-item {
            font-size: 16px;
            font-weight: 500;
            font-family: $font-b;
            color: #494c4f;
            padding: 10px 20px;
            line-height: 20px;
          }
        }
      }

      &.show {
        opacity: 1;
        visibility: visible;
        .navbar-collapse {
          #{$left}: 0;
        }
      }
    }
  }
  @include mq("lg") {
    .main-menu {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
      display: block;
    }
    .navbar-expand-lg .navbar-nav {
      flex-wrap: wrap;
      > .nav-item {
        > .nav-link {
          font-size: calcRem(14);
          line-height: calcRem(20);
          color: var(--white);
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          position: relative;
          text-decoration: none;
          padding: 13px 10px;

          @include mq("xl") {
            padding: 13px 12px;
          }
          position: relative;
          &::after {
            position: absolute;
            content: "";
            background-color: var(--main-color);
            height: 2px;
            width: 16px;
            border-radius: 8px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.4s ease-in-out;
          }

          &:hover,
          &.active {
            font-weight: 700;
            &::after {
              opacity: 1;
            }
            &::before {
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  // @include mq("xl") {
  //   .dropend .dropdown-toggle {
  //     margin-#{$left}: 1em;
  //   }

  //   .dropdown .dropdown-menu {
  //     // display: none;
  //     box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.13);
  //     background-color: #fffffffa;
  //     border-radius: 20px 20px 20px 20px;
  //     padding: 0;
  //     min-width: 100px;
  //     .nav-link {
  //       color: #4b4f58;
  //     }
  //     > li {
  //       &:first-child {
  //         .dropdown-item {
  //           border-top-left-radius: 20px;
  //           border-top-right-radius: 20px;
  //         }
  //       }
  //       &:last-child {
  //         .dropdown-item {
  //           border-bottom-left-radius: 20px;
  //           border-bottom-right-radius: 20px;
  //         }
  //       }
  //     }
  //     .dropdown-item {
  //       font-family: $font-b;
  //       font-size: calcRem(18);
  //       font-weight: 500;
  //       padding: 18px 50px;
  //       text-decoration: none;
  //       text-align: center;
  //       color: #4b4f58;

  //       &:focus,
  //       &:hover {
  //         background-color: var(--main-color);
  //         color: var(--white);
  //       }
  //     }
  //   }
  //   .dropdown:hover > .dropdown-menu,
  //   .dropend:hover > .dropdown-menu {
  //     display: block;
  //     margin-#{$left}: 0.125em;
  //   }
  //   @media screen and (min-width: 769px) {
  //     .dropend:hover > .dropdown-menu {
  //       position: absolute;
  //       top: 0;
  //       #{$left}: 100%;
  //     }
  //     .dropend .dropdown-toggle {
  //       margin-#{$left}: 0.5em;
  //     }
  //   }
  // }
}
