%scroll {

  scrollbar-width: thin;
  scrollbar-color: #454247 #272329;

  // /* width */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
    &::-webkit-scrollbar-track {
      border: #1A161C 2px solid;
      background-color: #1A161C;
      border-radius: 24px;
    }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #454247;
    // border-radius: 50px;
  }

  //   /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover { 
  //     background: $brand-color;
  //   }

}

