.media-partners {
  margin-bottom: calcRem(40);

  @include mq("xl") {
    margin-bottom: calcRem(80);
  }

  .media-partners-carousel {
    @include mq("lg") {
      padding: calcRem(20) calcRem(40);
    }
    .swiper-wrapper {
      align-items: center;
      .swiper-slide {
        text-align: center;
        font-size: 18px;

        text-align: center;
        padding: 0 calcRem(20);

        @include mq("lg") {
          padding: 0 calcRem(40);
        }
        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  div[class^="swiper-button"] {
    top: 50%;
    position: static;
    @include mq("lg") {
      position: absolute;
      transform: translateY(-50%);
    }
  }
}
