.speakers {
  margin-bottom: calcRem(80);
  overflow: hidden;

  .container {
    position: relative;
  }
  @include mq("xl") {
    margin-bottom: calcRem(120);
  }
  &-carousel {
    overflow: visible;
    @include mq("lg") {
      width: calc(100% - 160px);
      margin: 0 auto;
      overflow: hidden;
    }
  }

  &-card {
    text-align: center;
    img {
      width: calcRem(120);
      height: calcRem(120);
      border-radius: 50%;
      object-fit: cover;
    }
    &-title {
      font-size: calcRem(16);
      font-weight: 700;
      line-height: normal;
      margin-top: 15px;
    }
    &-sub {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
  }
  div[class^="swiper-button"] {
    top: 50%;
    position: static;
    @include mq("lg") {
      position: absolute;
      transform: translateY(-50%);
    }
  }
}
