.speech-of-the-forum {
  margin-bottom: calcRem(80);

  @include mq("xl") {
    margin-bottom: calcRem(120);
  }
  &-box {
    border-radius: 24px;
    border: 1px solid var(--surfaces-500, #2f2b31);
    background: rgba(47, 43, 49, 0.5);
    backdrop-filter: blur(10px);
    background-image: url("../img/present-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85% 0;
    padding: 40px 30px;
    text-align: center;

    @include mq("lg") {
      padding: 60px 80px;
    }
    img {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
    &-title {
      font-size: calcRem(34);
      font-weight: 700;
      margin-top: 24px;
    }
    &-subtitle {
      color: var(--main-color);
      font-size: 16px;
      line-height: 22px;
      margin-top: 8px;
    }
    p,
    &-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin-top: 24px;
      margin-bottom: 0;
    }
  }
}
