.testimonials {
  margin-bottom: calcRem(80);

  @include mq("xl") {
    margin-bottom: calcRem(120);
  }
  &-carousel {
    padding: 0 15px;
    .swiper-slide {
      width: 80%;
      padding: 0 8px;
      @include mq("lg") {
        width: 65%;
        padding: 0;
      }
      .media-widget {
        padding: calcRem(30) calcRem(20);
        background-position: calc(100% - 32px) 30px;
        background-repeat: no-repeat;
        transform-origin: center;
        transition: 0.8s all ease-in-out;
        opacity: 0.5;
        transform: scale(0.92);
        @include mq("lg") {
          padding: calcRem(50) calcRem(30);
          transform: scale(0.95, 0.8);
        }
        img {
          object-fit: contain;
        }
      }
      &-active {
        width: 80%;

        @include mq("lg") {
          width: 65%;
        }
        .media-widget {
          opacity: 1;
          background-image: url("../img/comma.png");
          transform: scale(1, 1);

          @include mq("lg") {
            margin-top: 0;
          }
        }
      }
    }
  }
}
